header {
    position: relative;
    height: 70vh;
    width: 100vw;
    display: flex;
    place-content: center;
    place-items: center;
    margin-bottom: calc(var(--pp-size) / 1.6);
}

.header_background {
    content: '';
    position: absolute;
    height: 70vh;
    width: 100vw;
    filter: blur(3px);
}

.header_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header_component {
    position: relative;
    display: flex;
    align-items: center;
}

.input_text {
    background: transparent;
    border: none;
    text-align: center;
    padding: 0px;
    width: fit-content;
    margin: auto;
}

.full_name {
    color: white;
    font-size: clamp(35px, 6vw, 40px);
}

.full_name::placeholder {
    color: white;
}

.title {
    color: var(--grey-btn);
    font-size: clamp(20px, 4vw, 25px);
}

.title::placeholder {
    color: var(--grey-btn);
}

.edit_wrapper {
    display: flex;
    place-items: center;
    gap: 1rem;

    position: absolute;
    top: 10px;
}

.edit_wrapper p {
    color: white;
}

input[type='file'] {
    z-index: 1;
    position: absolute;
    top: 45px;
    background: transparent;
    color: var(--grey-btn);
}

input[type='file']::file-selector-button {
    background: transparent;
    color: white;
    border: 1px solid var(--grey-btn);
    border-radius: 5px;
}
