.submit_btn {
    background: center url('../../assets/SVG/buttons/check.svg');
    width: 25px;
    height: 25px;
    border: 2px solid var(--primary-text-color);
    scale: 1;
    transition: background-image 0.1s ease-in-out, border 0.1s ease-in-out, scale 0.1s ease-in-out;
}

.submit_btn:hover {
    background: center url('../../assets/SVG/buttons/checkColor.svg');
    border: 2px solid var(--green-btn);
    scale: 1.05;
    transition: background-image 0.1s ease-in-out, border 0.1s ease-in-out, scale 0.1s ease-in-out;
}

.submit_white {
    background: center url('../../assets/SVG/buttons/submitWhite.svg');
    border: 2px solid white;
}

.edit_btn {
    background: center no-repeat url('../../assets/SVG/buttons/edit.svg');
    width: 25px;
    height: 25px;
    scale: 1;
    transition: scale 0.1s ease-in-out;
}

.edit_btn:hover {
    scale: 1.1;
    transition: scale 0.1s ease-in-out;
}

.edit_white {
    background: center no-repeat url('../../assets/SVG//buttons/editPicture.svg');
}

.add_btn {
    background: center url('../../assets/SVG/buttons/add.svg');
    width: 25px;
    height: 25px;
    border: 1px solid var(--primary-text-color);
    scale: 1;
    transition: scale 0.1s ease-in-out;
}

.add_btn:hover {
    scale: 1.1;
    transition: scale 0.1s ease-in-out;
}

.delete_btn {
    background: center url('../../assets/SVG/buttons/delete.svg');
    width: 25px;
    height: 25px;
    scale: 1;
    transition: scale 0.1s ease-in-out, background-image 0.1s ease-in-out;
}

.delete_btn:hover {
    background: center url('../../assets/SVG/buttons/deleteColor.svg');
    scale: 1.05;
    transition: background-image 0.1s ease-in-out, scale 0.1s ease-in-out;
}

.send_btn {
    background: center no-repeat url('../../assets/SVG/buttons/send.svg');
    width: 25px;
    height: 25px;
    border: 2px solid var(--primary-text-color);
}

.send_btn:hover {
    background: center no-repeat url('../../assets/SVG/buttons/sendColor.svg');
    border: 2px solid var(--green-btn);
    scale: 1.05;
    transition: background-image 0.1s ease-in-out, border 0.1s ease-in-out, scale 0.1s ease-in-out;
}

.social_media {
    width: 50px;
    height: 50px;

    transition: scale 0.1s ease-in-out;
}

.social_media:hover {
    scale: 1.05;
    transition: scale 0.1s ease-in-out;
}

.facebook {
    background: url(../../assets/SVG/social-media/facebook.svg);
}

.twitter {
    background: url(../../assets/SVG/social-media/twitter.svg);
}

.instagram {
    background: url(../../assets/SVG/social-media/instagram.svg);
}

.linkedin {
    background: url(../../assets/SVG/social-media/linkedin.svg);
}

.github {
    background: url(../../assets/SVG/social-media/github.svg);
}

.validate_btn {
    padding: 1rem;
    color: white;
    background-color: var(--green-btn);
    border-radius: 15px;
    scale: 1;
    transition: scale 0.1s ease-in-out;
}

.validate_btn:hover {
    scale: 1.07;
    transition: scale 0.1s ease-in-out;
}
