.submit_btn {
    background: center url('../../assets/SVG/check.svg');
    width: 25px;
    height: 25px;
    border: 2px solid var(--grey-btn);
    scale: 1;
    transition: background-image 0.1s ease-in-out, border 0.1s ease-in-out, scale 0.1s ease-in-out;
}

.submit_btn:hover {
    background: center url('../../assets/SVG/checkColor.svg');
    border: 2px solid var(--green-btn);
    scale: 1.05;

    transition: background-image 0.1s ease-in-out, border 0.1s ease-in-out, scale 0.1s ease-in-out;
    /* ?transform: rotate('20deg'); */
}

.edit_btn {
    background: center url('../../assets/SVG/edit.svg');
    width: 25px;
    height: 25px;
}

.add_btn {
    background: center url('../../assets/SVG/add.svg');
    width: 25px;
    height: 25px;
    border: 1px solid var(--grey-btn);
    scale: 1;
    transition: scale 0.1s ease-in-out;
}

.add_btn:hover {
    scale: 1.1;
    transition: scale 0.1s ease-in-out;
}

.delete_btn {
    background: center url('../../assets/SVG/delete.svg');
    width: 25px;
    height: 25px;
    scale: 1;
    transition: scale 0.1s ease-in-out, background-image 0.1s ease-in-out;
}

.delete_btn:hover {
    background: center url('../../assets/SVG/deleteColor.svg');
    scale: 1.05;
    transition: background-image 0.1s ease-in-out, scale 0.1s ease-in-out;
}

.send_btn {
    background: center no-repeat url('../../assets/SVG/send.svg');
    width: 25px;
    height: 25px;
    border: 2px solid var(--grey-btn);
}

.send_btn:hover {
    background: center no-repeat url('../../assets/SVG/sendColor.svg');
    border: 2px solid var(--green-btn);
    scale: 1.05;
    transition: background-image 0.1s ease-in-out, border 0.1s ease-in-out, scale 0.1s ease-in-out;
}

.social_btn {
    width: 50px;
    height: 50px;

    transition: scale 0.1s ease-in-out;
}

.social_btn:hover {
    scale: 1.05;
    transition: scale 0.1s ease-in-out;
}

.facebook {
    background: url(../../assets/SVG/social-media/facebook.svg);
}

.twitter {
    background: url(../../assets/SVG/social-media/twitter.svg);
}

.instagram {
    background: url(../../assets/SVG/social-media/instagram.svg);
}

.linkedin {
    background: url(../../assets/SVG/social-media/linkedin.svg);
}

.github {
    background: url(../../assets/SVG/social-media/github.svg);
}

.validate_btn {
    padding: 1rem;
    color: white;
    background-color: var(--green-btn);
    border-radius: 15px;
}
