#profile_picture_container {
    position: absolute;
    height: calc(var(--pp-size) + 3rem);
    background-color: transparent;
    bottom: calc(0px - calc(var(--pp-size) + 6rem) / 2);
}

#profile_picture {
    width: var(--pp-size);
    height: var(--pp-size);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    outline: 10px solid var(--background-primary);
}

.edit_image_btn {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 50%;
    left: calc(50% - 20px);
    border: 2px solid var(--background-primary);
    background: center no-repeat url('../../assets/SVG//buttons/editPicture.svg');
    scale: 1;
    transition: scale 0.1s ease-in-out;
}

.edit_image_btn:hover {
    scale: 1.1;
    transition: scale 0.1s ease-in-out;
}

#profile_picture_container input {
    margin-top: 14rem;
}

#profile_picture_container input[type='file']::file-selector-button {
    color: var(--foreground-tertiary);
}
