.tile {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    place-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    width: 35vw;
}

.tile .input_text::placeholder {
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .tile {
        flex-direction: row;
        place-items: center;
        place-content: center;
        /* justify-content: space-evenly; */
        min-width: fit-content;
    }
}
