.tiles_container {
    display: flex;
    gap: 2rem;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;

    background-color: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    width: clamp(100px, 40vw, 300px);
    padding: 1.5rem;
}

.tile input,
textarea {
    width: 100%;
}

.tile_submitted {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 1rem;
}

.date_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    font-size: 0.9rem;
}

.value_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.value_wrapper p:first-of-type {
    font-size: 1.1rem;
    font-weight: bold;
}

.textarea {
    height: 5rem;
}

.textareaValue {
    grid-column-start: span 2;
}

@media screen and (min-width: 1000px) {
    .tile {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }

    .tile textarea {
        grid-column-start: span 4;
        width: 98%;
    }

    .tile input,
    textarea {
        width: 8rem;
    }

    .tile button {
        grid-column-start: span 4;
        place-self: center;
    }

    .tile_submitted_container {
        flex-direction: row;
    }

    .tile_submitted {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .textareaValue {
        grid-column-start: span 3;
        max-width: 800px;
    }

    .date_wrapper {
        flex-direction: row;
        place-items: start;
        place-content: start;
        gap: 0.3rem;
    }

    .value_wrapper {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0rem;
    }
}
