.tiles_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tile_container {
    display: flex;
    gap: 1rem;
    place-items: center;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;

    background-color: var(--background-secondary);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    width: clamp(200px, 40vw, 400px);
    padding: 1.5rem;
}

.tile input,
.tile textarea {
    width: 100%;
}

.textarea {
    min-height: 5rem;
}

.tile .submit_btn {
    margin-top: 1rem;
}

.tile_submitted {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 1rem;
}

.date_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    font-size: 0.9rem;
}

.value_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.value_wrapper p:first-of-type {
    font-size: 1.1rem;
    font-weight: bold;
}

.textarea_value {
    grid-column-start: span 2;
}

.tile_btns_wrapper {
    width: 25px;
    height: 60px;
}

@media screen and (min-width: 1000px) {
    .tiles_container {
        gap: 2rem;
    }

    .tile {
        display: grid;
        width: fit-content;
    }

    .tile textarea {
        grid-column-start: span 4;
        width: 97.5%;
    }

    .tile input {
        width: 8rem;
    }

    .tile button {
        grid-column-start: span 4;
        place-self: center;
    }

    .tile_submitted {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 1rem;
        width: clamp(100px, 50vw, 700px);
    }

    .textarea_value {
        grid-column-start: span 3;
    }

    .date_wrapper {
        flex-direction: row;
        place-items: start;
        place-content: start;
        gap: 0.3rem;
    }

    .value_wrapper {
        flex-direction: row;
        place-items: center;
        gap: 2rem;
    }
}
