.info_section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info_section > button:last-of-type {
    margin-top: 1rem;
}

.info_section_submitted {
    gap: 0.8rem;
}

.info_section input {
    width: clamp(100px, 35vw, 250px);
}

.info_wrapper {
    display: flex;
    place-items: center;
    gap: 0.8rem;
}

.tel {
    background: url(../../../assets/SVG/);
    width: 20px;
    height: 20px;
}
.email {
    background: url(../../../assets/SVG/);
    width: 20px;
    height: 20px;
}
.city {
    background: url(../../../assets/SVG/);
    width: 20px;
    height: 20px;
}

.delete_btn_container {
    width: 25px;
    height: 25px;
}

@media screen and (min-width: 1000px) {
    .info_section {
        padding-top: 2rem;
        place-items: center;
        place-content: center;
        column-gap: 1rem;
        row-gap: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 23%));
        width: 85vw;
    }

    .info_section input {
        width: fit-content;
        width: 8rem;
    }

    .delete_btn_container {
        width: 85vw;
        height: 5rem;
        margin-top: -2rem;
        display: flex;
        place-items: center;
        place-content: center;
    }
}

@media screen and (min-width: 1300px) {
    .info_section {
        width: 70vw;
    }

    .delete_btn_container {
        width: 70vw;
    }
}
