.info_component_container {
    display: flex;
    gap: 0.5rem;
    place-items: center;
}

.tel {
    background: url(../../assets/SVG/icons/phone.svg);
    width: 25px;
    height: 25px;
}

.email {
    background: url(../../assets/SVG/icons/email.svg);
    width: 25px;
    height: 25px;
}

.location {
    background: url(../../assets/SVG/icons/location.svg);
    width: 25px;
    height: 25px;
}

.website {
    background: url(../../assets/SVG/icons/website.svg);
    width: 25px;
    height: 25px;
}
