.Form-component {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
}

.header-form {
}

.Practice-form {
    background-color: lightgrey;
    width: fit-content;
}
