.Input-text {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

.Input-text::placeholder {
    color: white;
    border: none;
}

.Input-text:focus {
    outline: none;
}
