.social_media_tile {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    gap: 1rem;
}

.social_media_wrapper {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
}

.input_wrapper {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
}
.input_wrapper input {
    width: min-content;
}

.btn_wrapper {
    display: flex;
    gap: 0.5rem;
}

@media screen and (min-width: 720px) {
    .social_media_wrapper {
        flex-direction: row;
        gap: 1.5rem;
    }

    .input_wrapper {
        flex-direction: row;
        gap: 1rem;
    }
}
