.input_text {
    background: transparent;
    border: none;
    /* color: var(--primary-text-color); */
}

.input_text::placeholder {
    /* color: var(--primary-text-color); */
    border: none;
}

.input_date {
    min-width: fit-content;
}
