.contact_form {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 0.5rem;
    width: clamp(200px, 40vw, 400px);
    padding: 1.5rem;
}

.contact_form input,
.contact_form textarea {
    width: 100%;
}

.contact_form textarea {
    min-height: 5rem;
}

.contact_form button {
    margin-top: 0.6rem;
}
@media screen and (min-width: 1000px) {
    .contact_form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .contact_form input {
        width: 8rem;
    }

    .contact_form textarea {
        width: 98%;
        grid-column-start: span 3;
    }

    .contact_form button {
        grid-column-start: span 3;
    }
}
