.contact_form {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 1rem;
}

.contact_form textarea {
    height: 6rem;
}
@media screen and (min-width: 1000px) {
    .contact_form {
        display: grid;

        grid-template-columns: repeat(3, 1fr);
    }

    .contact_form textarea {
        width: 100%;
        grid-column-start: span 3;
    }

    .contact_form button {
        grid-column-start: span 3;
    }
}
