#Header {
    position: relative;
    height: 70vh;
    display: grid;
    place-content: center;
    gap: 2rem;
    margin-bottom: calc(var(--pp-size) / 1.5);
}

#Header::before {
    content: '';
    /* background-image: url(https://images.pexels.com/photos/270632/pexels-photo-270632.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    background-color: rgba(5, 5, 5);
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.9;
    filter: blur(3px);
}

#full-name {
    font-size: clamp(24px, 6vw, 40px);
}

#title {
    font-size: clamp(14px, 6vw, 30px);
}

#profile-picture-container {
    position: absolute;
    width: var(--pp-size);
    height: var(--pp-size);
    background-color: transparent;
    bottom: calc(0px - var(--pp-size) / 2);
    left: calc(50vw - calc(var(--pp-size) / 2));
}

#profile-picture {
    background: url('../assets/img/profile-picture.jpg');
    width: var(--pp-size);
    height: var(--pp-size);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    outline: 10px solid white;
}
