* {
    font-family: Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

.tile-btn-wrapper > .delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

/* * SOCIAL MEDIA */
.social-btn {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.facebook {
    background: url(../assets/SVG/social-media/facebook.svg);
}

.twitter {
    background: url(../assets/SVG/social-media/twitter.svg);
}

.instagram {
    background: url(../assets/SVG/social-media/instagram.svg);
}

.linkedin {
    background: url(../assets/SVG/social-media/linkedin.svg);
}

.github {
    background: url(../assets/SVG/social-media/github.svg);
}
