:root {
    --pp-size: 250px;

    --foreground-primary: rgb(71, 74, 78);
    --foreground-secondary: rgb(230, 230, 230);
    --foreground-tertiary: rgb(60, 72, 107);
    --foreground-system-success: white;

    --background-primary: rgb(237, 239, 245);
    --background-secondary: white;
    --background-tertiary: rgb(230, 230, 230);
    --background-system-success: rgb(3, 201, 136);

    --border-primary: rgb(60, 72, 107);
    --border-secondary: rgb(230, 230, 230);
    --border-system-success: rgb(3, 201, 136);
}

* {
    font-family: Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    color: var(--foreground-primary);
    margin: 0;
    padding: 0;
}

*:focus-visible {
    outline: 9px double black;
    box-shadow: 0 0 0 6px white;
}

body {
    background-color: var(--background-primary);
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    gap: 1rem;
}

section {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

    width: 80vw;
    padding: 2rem 2rem;
}

h2 {
    color: var(--foreground-tertiary);
}

button {
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

input,
textarea {
    padding: 0.4rem;
    background-color: var(--background-secondary);
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    font-size: 0.9rem;
}

textarea::placeholder,
input::placeholder {
    color: var(--foreground-primary);
}

footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    place-content: center;
    place-items: center;

    padding: 3rem 0rem;
}

@media screen and (min-width: 1000px) {
    section {
        padding: 3rem 3rem;
    }
}
