:root {
    --pp-size: 250px;

    --white: white;
    --white-2: rgb(237, 239, 245);
    --white-3: rgb(230, 230, 230);

    --grey: rgb(147, 163, 186);
    --grey-2: rgb(71, 74, 78);

    --blue: rgb(60, 72, 107);

    --green: #03c988;

    --foreground-primary: var(--grey-2);
    --foreground-secondary: var(--white-3);
    --foreground-tertiary: var(--blue);
    --foreground-system-success: var(--white);

    --background-primary: var(--white-2);
    --background-secondary: var(--white);
    --background-tertiary: var(--white-3);
    --background-system-success: var(--green);

    --border-primary: var(--blue);
    --border-secondary: var(--white-3);
    --border-system-success: var(--green);
}

* {
    font-family: Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    color: var(--foreground-primary);
    margin: 0;
    padding: 0;
}

*:focus-visible {
    outline: 9px double black;
    box-shadow: 0 0 0 6px white;
}

body {
    background-color: var(--background-primary);
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    gap: 1rem;
}

section {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

    width: 80vw;
    padding: 2rem 2rem;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

input,
textarea {
    padding: 0.4rem;
    background-color: var(--background-secondary);
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    font-size: 0.9rem;
}

textarea::placeholder,
input::placeholder {
    color: var(--foreground-primary);
}

footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    place-content: center;
    place-items: center;

    padding: 3rem 0rem;
}

@media screen and (min-width: 1000px) {
    section {
        padding: 3rem 3rem;
    }
}
