:root {
    --pp-size: 250px;
    --primary_text_color: rgb(30, 30, 30);
    --bg-color: rgb(237, 239, 245);
}

* {
    font-family: Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

body {
    background-color: var(--bg-color);
}

main {
    display: flex;
    flex-direction: column;
    place-items: center;
}

section {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    gap: 2rem;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

    width: 80vw;
    margin: 0rem 2rem 2rem;
    padding: 0rem 5rem 2rem 5rem;
}

button {
    border: none;
    cursor: pointer;
}

label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
